// prefixes chosen (either added or omitted) from http://caniuse.com and https://developer.mozilla.org/

column-count()
  -moz-column-count    arguments
  -webkit-column-count arguments
  column-count         arguments

column-gap()
  -moz-column-gap    arguments
  -webkit-column-gap arguments
  column-gap         arguments

column-rule()
  -moz-column-rule    arguments
  -webkit-column-rule arguments
  column-rule         arguments

column-rule-color()
  -moz-column-rule-color    arguments
  -webkit-column-rule-color arguments
  column-rule-color         arguments

transition()
  -o-transition      arguments
  -webkit-transition arguments
  transition         arguments
