@require _pygments

largest-width = 740px

// generic {{{

body
  font-family sans-serif
  font-size 1.1em
  line-height 1.6em
  margin 0 auto
  max-width largest-width
  position relative

ol, ul
  padding-left 25px

li
  margin-top 5px
  margin-bottom 20px
  overflow visible

li:last-of-type
  margin-bottom 0

a
  outline none
  padding 5px 0
  text-decoration none
  transition 0.2s ease background-color

footer
  margin 0 auto 25px
  max-width largest-width

  ul
    margin 0
    padding 0
    text-align center

h1
  border-bottom 1px solid
  padding-bottom 10px

// }}} generic

// this class is added by javascript so the background color isn't
// transitioned on page load (the background color might be changed on page
// load and that shouldn't be transitioned)
.transition-background-color
  transition 0.2s ease background-color

#posts
  margin-bottom 30px

#posts, footer ul
  column-rule 1px dotted
  list-style none

#content
  margin-bottom 15px

  li
    margin-bottom 10px

code, .org-src-container
  font-family monospace

.anchor-link
  opacity 0.2
  padding 5px
  transition 0.2s ease opacity

  &:hover
    opacity 1

.back-to-home
  display inline-block

.menu-item
  float right
  cursor pointer
  padding 5px
  margin 0 3px

.highlight
  overflow-x auto

iframe[id^=asciicast-iframe]
  margin 0 auto !important

.date, .post-download-link, footer
  font-size 0.9em

.date
  display block

.post-download-link
  display none
  margin-right 20px

.show-download-links
  .post-download-link
    display inline-block

// dynamic layout {{{

@media (min-width: largest-width)
  footer ul
    column-count 2
    column-gap 30px

  //FIXME enable when you write more posts

  // #posts
  //   column-count 3
  //   column-gap 30px

  body
    padding 0 25px

@media (max-width: largest-width)
  footer ul
    column-count 2
    column-gap 30px

  //FIXME enable when you write more posts

  // #posts
  //   column-count 2
  //   column-gap 30px

  body
    padding 0 20px

@media (max-width: 560px)
  footer ul
    column-count 1
    column-gap 30px

  //FIXME enable when you write more posts

  // #posts
  //   column-count 1
  //   column-gap 30px

  body
    padding 0 10px

  // don't indent lists quite as much for very small screens
  ol, ul
    padding-left 20px

// }}} dynamic layout

// solarized colorscheme {{{

@media not print
  @import _colors

  // generic colors (these shouldn't need to change)
  #posts
    li a
      color orange

    li:nth-child(odd) a
      color yellow

  #content a
    color magenta

  .date
    color cyan

  footer
    li
      color blue

    li:nth-child(odd)
      color violet

    li a
      color green

    li:nth-child(odd) a
      color orange

  // solarized light (the default)
  body
    background-color base3
    color base00

    .menu-item:hover
    .menu-item:active
    .menu-item:focus
    a:hover
    a:active
    a:focus
      background-color base2

    h1
      border-bottom-color rgba(131, 148, 150, 0.25)

    h1, .menu-item
      color base01

    ul
      column-rule-color base01

  // overrides from the above colors when using the dark variant
  body.dark
    background-color base03
    color base0

    .menu-item:hover
    .menu-item:active
    .menu-item:focus
    a:hover
    a:active
    a:focus
      background-color base02

    h1
      border-bottom-color rgba(101, 123, 131, 0.25)

    h1, .menu-item
      color base1

    ul
      column-rule-color base1

@media not screen
  a
    text-decoration underline

  .menu-item
    display none

// }}} solarized colorscheme
