<body class=light>
   <a href=javascript:void(0)
     id=menu-toggle
     class=menu-item
     alt='toggle the menu'
     title='toggle the menu'>
    ☰
   </a>

  <a href=javascript:void(0)
    id=theme-toggle
    class=menu-item
    alt='toggle light/dark themes'
    title='toggle light/dark themes'>
    ☼☽
  </a>

  <a href=javascript:void(0)
    id=download-links-toggle
    class=menu-item
    alt='toggle download links'
    title='toggle download links'>
    ↓
  </a>

  <a href=/
    id=return-to-home
    class=menu-item
    alt='back to the list of posts'
    title='back to the list of posts'
    rel=contents>
    ←
  </a>
